[Desktop Entry]
Encoding=UTF-8
Name=Link to CGL @ ETHZ - Visual Computing - AS17 - Course Notes
Type=Link
URL=https://graphics.ethz.ch/teaching/viscomp17/notes.php
Icon=text-html
Name[en_US]=material
