[Desktop Entry]
Encoding=UTF-8
Name=Link to  Computer Graphics script [PDF] 
Type=Link
URL=https://graphics.ethz.ch/teaching/viscomp17/downloads/GDV_Part1.pdf
Icon=text-html
Name[en_US]=script pdf
