[Desktop Entry]
Encoding=UTF-8
Name=Link to Algorithms, Probability, and Computing (2017) (Theory of Combinatorial Algorithms, ETH Zürich)
Type=Link
URL=https://www.ti.inf.ethz.ch/ew/courses/APC17/index.html
Icon=text-html
Name[en_US]=material
