[Desktop Entry]
Encoding=UTF-8
Name=Link to SPCA 2017 - Course Material
Type=Link
URL=https://svn.inf.ethz.ch/svn/systems/SPCA2017/trunk/index.html
Icon=text-html
Name[en_US]=Slides
